/* Homepages - Index Medical */
.slider-container-medical {
  background-color: #111;
}

@media (min-width: 1200px) {
  .slider-container-medical {
    height: 400px;
  }
}

.slider-container-medical .tp-caption strong {
  font-weight: 700 !important;
}

@media (max-width:1150px){
    .rev_slider {
        width: 100% !important;

    margin-left: 0% !important;
    }
    .quoteInquiryInnerDiv{
width: 100% !important;
    }
    /*.quoteInquiryDiv{
width: 100% !important;
     float: left;
     height: 70%
    }*/

}

@media (min-width: 992px) {
  .services-group {
    margin-top: -100px;

  }
}

@media (max-width: 991px) {
  .services-group {
    margin-bottom: 40px;

  }
}

.quick-form-container .form-control {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .quick-form-container .btn {
    margin-top: 26px;
  }
}

.quick-gallery-showcase .portfolio-item {
  margin: 0;
  width: 50%;
}

@media (min-width: 481px) {
  .quick-gallery-showcase .portfolio-item {
    width: 33.3%;
  }
}

@media (min-width: 768px) {
  .quick-gallery-showcase .portfolio-item {
    width: 25%;
  }
}

.departments-section .department-action {
  max-width: 540px;
}

.text-block.hover-bg {
  border: 2px solid #eeeeee;
  padding-top: 21px;
  padding-bottom: 17px;
  margin-bottom: 20px;
}

.text-block.hover-bg img {
  background-color: #0069b0;
  outline: 5px solid #0069b0;
}

.widget.hours-widget ul li {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.widget.hours-widget ul li em {
  float: right;
}

.widget.hours-widget ul li:after {
  content: '';
  display: table;
  clear: both;
}

.container-table {
  width:60%;
   padding:1%;
  /*height:60%; */
  border:1px solid#cecece;
  background-color: #eceff1;
}

.vertical-center-row {
   margin:auto;
   width:30%;
   padding:63px;
   text-align:center;

}
/*.top-buffermore { margin-top:16px; }
.top-bufferless { margin-top:10px; } */

.top-buffermore { margin-top:1%; }
.top-bufferless { margin-top:2%; }

.transperentboarder {
   /* border: 0 none; */
    border: 0 none;
    box-shadow: none;
	background: transparent;
}

 .panel-title > a:before {
    float: right !important;
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f056";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}
.glyphicons:before {
    margin-right: 5px;
}
.ashrightboarder {
	padding-right:20px;
	border-right: 1px solid #ccc;
}
.ashtopboarder {
	padding-right:20px;
	border-top: 1px solid #ccc;
}
.ashbottomboarder {
	padding-right:20px;
	border-bottom: 1px solid #ccc;
}

.ashleftboarder {
	padding-left:20px;
	border-left: 1px solid #ccc;
}

.ashbackgroundwithboarder{
    background: #F9F9F9;
    border: 1px solid #E1E1E8;
    margin: 8px 0;
    padding: 8px;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.equalheight {
    overflow: hidden;
}

.leftalign{
     margin-left: 2cm;
}



